<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" sizes="16x16">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-4">
        <div class="d-flex align-items-center">
            <a href="javascript:history.back()" class="btn btn-link text-muted fs-2 me-3">
                <i class="bi bi-arrow-left-circle"></i>
            </a>
            <h2 class="h3 mb-0 fw-normal consultas">Consultas agendadas</h2>
        </div>
        <div class="table-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Raça</th>
                        <th>Espécie</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Agendamento</th>
                        <th>Veterinário</th>
                        <th>Tutor</th>
                        <th>Contato</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody class="corpo">
                    {% for consulta in consultas %}
                    <tr id="consulta-{{ consulta.id }}" class="consulta-row">
                        <td>{{ consulta.id }}</td>
                        <td>{{ consulta.nome_animal }}</td>
                        <td>{{ consulta.raca_animal }}</td>
                        <td>{{ consulta.tipo_animal }}</td>
                        <td>{{ consulta.data_consulta.strftime('%d/%m/%Y') }}</td>
                        <td>{{ consulta.hora_consulta.strftime('%H:%M') }}</td>
                        <td>{{ consulta.tipo_consulta }} </td>
                        <td>{{ consulta.veterinario }}</td>
                        <td>{{ consulta.nome_tutor }}</td>
                        <td style="display: none;">{{ consulta.email }}</td>
                        <td>({{ consulta.telefone[:2] }}) {{ consulta.telefone[2:7] }}-{{ consulta.telefone[7:] }}</td>
                        <td style="display: none;">{{ consulta.cpf_tutor }}</td>
                        <td class="actions">
                            <i class="fas fa-edit edit-icon" onclick="editRow('{{ consulta.id }}')" id="btAlterar"></i>
                            <i class="fas fa-trash-alt delete-icon" onclick="showConfirmationModal('{{ consulta.id }}')"
                                id="btExcluir"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="overlay d-none" id="overlay"></div>

    <!-- Modal de confirmação -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza de que deseja excluir esta consulta?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Sucesso -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">✅Sucesso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    Consulta excluída com sucesso!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Edição -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Alterar Agendamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <form class="form-consulta">
                        <div class="my-4">
                            <label for="nome" class="form-label">Nome do animal</label>
                            <input type="text" class="form-control" id="nome_animal" name="nome_animal"
                                placeholder="Digite o nome do animal">
                        </div>
                        <div class="my-4">
                            <label for="especie_animal" class="form-label">Espécie do animal</label>
                            <select class="form-select" id="especie_animal" name="especie_animal">
                                <option selected disabled hidden class="place-holder">Escolha a espécie do animal
                                </option>
                                <option value="Cachorro">Cachorro</option>
                                <option value="Gato">Gato</option>
                            </select>
                        </div>
                        <div class="my-4">
                            <label for="raca_animal" class="form-label">Raça</label>
                            <input type="text" class="form-control" id="raca_animal" name="raca_animal"
                                placeholder="Digite a raça do animal">
                        </div>
                        <div class="my-4">
                            <label for="tipo_consulta" class="form-label">Tipo de agendamento</label>
                            <select class="form-select" id="tipo_consulta" name="tipo_consulta">
                                <option selected disabled hidden class="place-holder">Escolha o tipo de consulta
                                </option>
                                <option value="Banho">Banho</option>
                                <option value="Tosa">Tosa</option>
                                <option value="Tosa higiênica">Tosa higiênica</option>
                                <option value="Vacina">Vacina</option>
                                <option value="Exame de rotina">Exame de rotina</option>
                            </select>
                        </div>
                        <div class="my-4">
                            <label for="cpf_tutor" class="form-label">CPF do Tutor</label>
                            <input type="text" class="form-control" id="cpf_tutor" name="cpf_tutor"
                                placeholder="Digite o CPF do tutor">
                        </div>
                        <div class="row my-4 align-items-end">
                            <div class="col-md-6">
                                <label for="data" class="form-label">Data</label>
                                <input type="date" class="form-control" id="data" name="data">
                            </div>
                            <div class="col-md-6">
                                <label for="hora" class="form-label">Hora</label>
                                <input type="time" class="form-control" id="hora" name="hora">
                            </div>
                        </div>
                        <div class="alert alert-danger d-none" role="alert" id="error-message">
                            Todos os campos precisam ser preenchidos corretamente!
                        </div>
                        <div class="alert alert-danger d-none" role="danger" id="horario-indisponivel-message">
                            Não há veterinários disponíveis nesse horário. Escolha uma outra data!
                        </div>
                        <button type="submit" id='btAtualizar' class="btn btn-custom w-100 py-2 mb-2">Atualizar
                            agendamento</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- toast de conclusão -->
    <div id="toastConcluido" class="toast position-fixed bottom-0 end-0 m-3" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="toast-header text-white feito">
            <strong class="me-auto">Feito!</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                aria-label="Fechar"></button>
        </div>
        <div class="toast-body">
            Agendamento atualizado ✅
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script src="{{ url_for('static', filename='script.js' ) }}"></script>


</body>


</html>